body {
    padding: 0;
    margin: 0;
}
svg g {
    transform: translate(300px, 40px) scale(0.4);
}
svg path {
    transform-origin: 50% 100%;
}
/*
svg path {
    transform: rotate(0deg);
}
svg path:nth-child(1) {
    transform: rotate(50deg);
}
svg path:nth-child(3) {
    transform: rotate(100deg);
}
svg path:nth-child(4) {
    transform: rotate(150deg);
}
svg path:nth-child(5) {
    transform: rotate(200deg);
}
svg path:nth-child(6) {
    transform: rotate(250deg);
}
svg path:nth-child(7) {
    transform: rotate(300deg);
}
    */
