body, html {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    background: #FFFBF5;
    color: #666;
    text-align: center;
}
h1, h2 {
    font-weight: 100;
    text-align: center;
}
h1  {
    font-size: 2.5rem;
    margin: 20px 0 0px;
}
h2  {
    font-size: 2rem;
}
h2 i, h2 span {
    display: inline-block;
}
h2 i {
    font-style: normal;
    color: #E91E63;
    margin-right: 5px;
    font-size: 0.4em;
    position: relative;
    bottom: 5px;
}
a {
    color: #448AFF;
}
.button {
    display: inline-block;
    font-weight: 300;
    background: #448AFF;
    color: #fff;
    padding: 0px 25px;
    line-height: 44px;
    height: 44px;
}
p {
    font-weight: 300;
}
.wrapper {
    line-height: 1.4;
    max-width: 400px;
    padding: 0 10px;
    margin: 10px auto;
}
svg {
    display: block;
    transform-origin: 50% 0%;
    transition: transform ease 0.5s;
    width: 360px;
    height: 360px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 50px;
    margin-top: -50px;
}
.svg-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}
.flower-counter, .reload-anim {
    border-radius: 50%;
    right: 2rem;
    bottom: 0rem;
    position: absolute;
    color: #727272;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 300;
    padding: 15px 0;
}
.reload-anim {
    text-align: left;
    position: absolute;
    left: 2rem;
    bottom: 0rem;
    text-decoration: none;
}
.reload-anim:hover {
    color: #000;
}

@media screen and (min-width: 500px) {
    svg {
        transform: scale(1.4);
    }
    .svg-container {
        height: 560px;
    }
}
@media screen and (min-width: 800px) {
    svg {
        transform: scale(1.7);
    }
    .svg-container {
        height: 680px;
    }
}
svg > g {
    transform: translate(0px, 50px) scale(0.3);
    transition: all ease 0.4s;
}
svg > g > g {
}
path:first-child {
    fill: transparent;
}
svg > g > g path {
    transition: transform ease 0.6s;
    transform-origin: 50% 100%;
}
svg > g > g path:nth-child(2) {
    transition: transform ease 0.8s;
}
svg > g > g path:nth-child(3) {
    transition: transform ease 1s;
}
svg > g > g path:nth-child(4) {
    transition: transform ease 1.2s;
}
svg > g > g path:nth-child(5) {
    transition: transform ease 1.4s;
}
svg > g > g path:nth-child(5) {
    transition: transform ease 1.6s;
}
svg > g > g:hover path {
    transform: rotate(6deg);
}
.divider {
    font-weight: 300;
    color: #E91E63;
}
.divider:before, .divider:after {
    content: '';
    display: inline-block;
    height: 1px;
    margin: 0 5px;
    width: 100px;
    background: #b6b6b6;
    margin-bottom: 0.3em;
}

.is-long:before, .is-long:after {
    width: 110px;
}
.input-field {
    margin: 30px 0;
}
.input-field input {
    font-weight: 300;
    border: none;
    background: rgba(255, 255, 255, 0);
    height: 44px;
    line-height: 44px;
    padding: 5px 10px;
    margin: 0;
    min-width: 200px;
    font-size: 1rem;
    border-bottom: solid 1px #727272;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
}
.input-field input:focus {
    outline:0;
    border-bottom: solid 1px #448AFF;
}
::-webkit-input-placeholder {
    font-weight: 300;
    color: #AAAAAA;
}
footer {
    margin-top: 20px;
    width: 100%;
    padding: 20px 0;
}
.contact h4 {
    margin: 0;
}
.contact {
    margin-bottom: 20px;
}
.clients {
    margin-top: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.client {
    float: left;
    margin: 10px 1.5%;
    max-width: 30%;
}
.client img {
    max-width: 100%;
}

